
* {
    box-sizing: border-box;
}

h2{ color: rgba(221, 65, 50,.9);
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 40px;
    font-family: Verdana, Helvetica, sans-serif;
    }
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 25px;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.center {
     height: 100px;
    position: relative;
    display: flex;
   justify-content: center;
   	background-color:rgba(200,200,200,.3);
}


.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 0;
  width:auto;
  heigth:auto;
  user-select: none;

}
.Power {background-color: #4CAF50;}
.direction {background-color: #e0922c;}
.Stop { padding:10px 10px; background-color:#d83131;}

.Power:hover {background-color: #3e8e41}
.direction:hover {background-color: #9e7204}
.Stop:hover {background-color: #822405}

.button:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

.Power:active {background-color: #3e8e41;}
.direction:active {background-color: #9e7204;}
.Stop:active {background-color: #822405;}
