<head>
  <link rel="stylesheet" href="../CSS/style.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="../JS/movement.js"></script>
</head>
<body>
<div class="center col-12" >
 <h2>Car Controls</h2>
</div>
 <div class="row">
      <div class="center col-2">
     </div>
     <div class="center col-8">
          <button class="button Power Forward" id="FORWARD">Forward</button>
     </div>
     <div class="center col-2">
     </div>
</div>
<div class="row">
      <div class="center col-6">
         <button class="button direction Left" id="LEFT" >Left</button>
       </div>

       <div class="center col-6">
        <button class="button direction Right" id="RIGHT" >Right</button>
      </div>
</div>

 <div class="row">
      <div class="center col-2">
         <button class="button Stop" id="STOP">STOP</button>
     </div>
     <div class="center col-8">
          <button class="button Power Backward" id="BACKWARD" >Backward</button>
     </div>
     <div class="center col-2">
     </div>
</div>

</body>
</html>
